.DS_STORE
/saved
/logs
/data/semantic_kitti
/.vscode
.python-version
__pycache__/
*.out
/outputs/*
*.pcd
/wandb
/datasets/preprocessing/*.json
/datasets/preprocessing/*.yaml
third_party/pointnet2/*
# third_party/
